@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700display=swap');
@import url("section/header.css");
@import url("section/result.css");
:root{
    
    --poppins: "poppins", sans-serif;
    --bgColor: #121218;
    --textColor:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: var(--poppins) ;
}
body{
    height:100vh ;
    background-color:var(--bgColor) ;

}